.App {
  text-align: center;
}

.App h1 {
  font-size: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
}

.header a {
  font-size: 2rem;
  text-decoration: none;
  color: purple;
}
